.idea
.oh-my-zsh
.config/raycast
.config/github-copilot
.config/gtk-2.0
zoxide
.config/vivaldi
.ssh
.m2/repository
.stow
.bash_history
.face
.wget-hsts
.history
**/.local/share
!linux/.local/share/
!linux/.local/share/**
.local/bin/zoxide
.git
out
*.lock
*.bak
keys
.src/hosts/kubuntu
.viminfo
.zsh_history
kglobalshortcutsrc
/users/*/.config
/users/*/.m2
.claude/worktrees
